html, body {
  font-size: 14px;
  font-family: 'Verdana';
}

.product {
  width: 50%;

  margin: 1.2rem 0;  
}

.product__card {

  padding: 40px;


}

.product__designer {
  font-size: 1rem;
  font-weight: bold;

  text-align: left;

}

.product__image {
  margin: 3rem 0;
  cursor: pointer;
}

.product__image img {
  width: 100%;
  height: auto;    
}

.product__price {
  text-align: right;
}

.product__description {
  font-size: 0.8rem;
}

.product__select {
  width: 100%;
  height: 30px;
  margin: 0.8rem 0;
}